<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"
          media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <style>
        body {
            background: url("/static/images/general-bkg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

    </style>
    <title>My Books</title>
</head>
<body>
<nav>
    <div class="nav-wrapper" style="background-color: #222F33;">
        <a href="/" class="brand-logo">BookIt</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {% if user.is_authenticated and backends.associated %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'sell_isbn_search' %}">Sell</a></li>
                <li><a href="{% url 'my_books' %}">My Books</a></li>
                <li><a href="{% url 'complaints' %}">Complaints</a></li>
{#                <li><a href="{% url 'social:begin' 'google-oauth2' %}?next=/">Logout</a></li>#}
            {% else %}
                <!-- Log In option shown only when the user is not logged in -->
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'social:begin' 'google-oauth2' %}?next=/">Login</a></li>
                <li><a href="{% url 'social:begin' 'google-oauth2' %}?next=/sell_isbn">Sell</a></li>
                <li><a href="{% url 'social:begin' 'google-oauth2' %}?next=/my_books">My Books</a></li>
                <li><a href="{% url 'social:begin' 'google-oauth2' %}?next=/complaints">Complaints</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

<br/>

<div class="row">
    <div class="col s6">
        <h4 style="margin-left: 5%">Books Bought</h4>
        {% if books_bought %}
            {% for item in books_bought %}
                <div style="margin-left: 5%; margin-top: 10px">
                    <div class="card ">
                        <div class="card-content">

                            <p> <h5 style="font-family: Baskerville">{{ item.book_name }} </h5></p>
                            <p>
                                <h7 style="font-family: Baskerville">Author: {{ item.book_author }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Edition: {{ item.book_edition }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Price: Rs. {{ item.book_price }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Seller's Email: {{ item.seller_email }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Date/Time of
                                    Purchase: {{ item.purchase_date_time }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Book ID: {{ item.book_id }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Status: {{ item.book_status }} </h7>
                            </p>
                            {% if item.book_status == 'In Progress' %}
                                <br/>
                                <form method="POST" action="{% url 'buyer_transaction_complete' %}">
                                    {% csrf_token %}
                                    <button class="waves-effect waves-light btn" type="submit" name="book_id"
                                            value="{{ item.book_id }}"
                                            style="background: #1f3034; color: white;">
                                        Complete Transaction
                                    </button>
                                </form>
                            {% endif %}
                            <br/>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            You haven't bought any books!

        {% endif %}

    </div>


    <div class="col s6">
        <h4 style="margin-left: 5%">Books Listed</h4>
        {% if books_listed %}
            {% for item in books_listed %}
                <div style="margin-left: 5%; margin-top: 10px">
                    <div class="card">
                        <div class="card-content">

                            <p> <h5 style="font-family: Baskerville">{{ item.book_name }} </h5></p>
                            <p>
                                <h7 style="font-family: Baskerville">Author: {{ item.book_author }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Edition: {{ item.book_edition }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Price: Rs. {{ item.book_price }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Status: {{ item.id }} </h7>
                            </p>
                            <p>
                                <h7 style="font-family: Baskerville">Status: {{ item.book_status }} </h7>
                            </p>

                            {% if item.book_status == 'In Progress' %}
                                <br/>
                                <form method="POST" action="{% url 'seller_transaction_complete' %}">
                                    {% csrf_token %}
                                    <button class="waves-effect waves-light btn" type="submit" name="book_id"
                                            value="{{ item.id }}"
                                            style="background: #1f3034; color: white;">
                                        Complete Transaction
                                    </button>
                                </form>
                            {% endif %}
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            You haven't listed any books!
        {% endif %}


    </div>
</div>

</body>


</html>